# Quick Start


- 数据本身的基本统计分析
- 研究问题本身，找到相关的强特征，建立一个简单的线性回归

## 读入数据


- 训练数据 15000 persion, 136万条数据，770个负样本。

In [1]:
# 读入数据
import pandas as pd
dat = pd.read_csv('data/train.tsv', sep='\t')

In [2]:
dat.shape

(1368146, 55)

In [3]:
dat.head()

,PERSONID,APPLYNO,FTR0,FTR1,FTR2,FTR3,FTR4,FTR5,FTR6,FTR7,...,FTR43,FTR44,FTR45,FTR46,FTR47,FTR48,FTR49,FTR50,FTR51,CREATETIME
0,8ba94305557a4ec72435a9eb78001350,20fab21284e57a4ccd3127553920e37b,0.050000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000832,0.050000,0.0,0.0,0.000000,0.050012,0.0,0.001532,A2B186C398E0D0,2015-09-14
1,8ba94305557a4ec72435a9eb78001350,73f32b8b6e199129abb8fe0cb6d6c867,0.033333,0.0,0.0,0.0,0.0,0.007829,0.0,0.0,...,0.002801,0.033333,0.0,0.0,0.000000,0.033333,0.0,0.005156,A24B176C1239E0D0,2015-09-14
2,8ba94305557a4ec72435a9eb78001350,324da7a0b1a5c1d3b321685d734a9dc8,0.050000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.050000,0.0,0.0,0.000023,0.050000,0.0,0.000000,A0B0C6E0D0,2015-09-14
3,8ba94305557a4ec72435a9eb78001350,341ceb4ae7b0ca1c46653f5a116d4bd2,0.050000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.050000,0.0,0.0,0.000023,0.050000,0.0,0.000000,A0B0C6E0D0,2015-10-16
4,8ba94305557a4ec72435a9eb78001350,ca260c60e62de319e38a475e2455afb8,0.050000,0.0,0.0,0.0,0.0,0.007829,0.0,0.0,...,0.002801,0.050000,0.0,0.0,0.000000,0.050000,0.0,0.005156,A24B176C1239E0D0,2015-10-16

In [4]:
dat_id = pd.read_csv('data/train_id.tsv', sep='\t')

In [5]:
dat_id.shape

(15000, 2)

In [6]:
dat_id.head()

                           PERSONID  LABEL
0  8ba94305557a4ec72435a9eb78001350      0
1  505d2a4db5dd353b775b5a30a731c02d      0
2  737f6cee33b47a3857b65186f5f6251e      0
3  3933908961f8e1780ff0b87cc5e4401d      0
4  c15b755463ae71dd54fa4b39d95f5170      0

In [7]:
(dat_id['LABEL'] == 1).sum()

770

## pandas 入门

https://blog.csdn.net/zhu418766417/article/details/52718063

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
 s = pd.Series([1,3,5,np.nan,6,8])

In [10]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64